@use '../abstracts/' as *;

:root {
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-size-headline-2: #{rem(24)};
  --font-size-headline-3: #{rem(15)};
  --font-size-2: #{rem(13)};
  --font-size-3: #{rem(14)};
  --font-size-4: #{rem(16)};
  --font-size-5: var(--font-size-3);
  --font-size-6: var(--font-size-4);

  @include breakpoint(medium) {
    --font-size-headline-2: #{rem(28)};
    --font-size-headline-3: #{rem(17)};
    --font-size-2: #{rem(15)};
    --font-size-3: #{rem(16)};
    --font-size-4: #{rem(18)};
  }

  @include breakpoint(large) {
    --font-size-headline-2: #{rem(32)};
    --font-size-2: #{rem(14)};
    --font-size-3: #{rem(15)};
    --font-size-4: #{rem(16)};
    --font-size-5: #{rem(16)};
    --font-size-6: #{rem(20)};
  }
}

body {
  font-family: var(--font-ubuntu);
}

.headline-2 {
  font-size: var(--font-size-headline-2);
  font-weight: 700;
  color: var(--color-marine-blue);
  margin-block-end: rem(10);
}

.headline-3 {
  font-size: var(--font-size-headline-3);
  font-weight: 700;
  color: var(--color-marine-blue);
}

.text {
  font-size: var(--font-size-4);
  font-weight: 400;
  color: var(--color-cool-gray);
  line-height: 1.5;

  &--xsm {
    font-size: var(--font-size-2);
  }

  &--sm {
    font-size: var(--font-size-3);
  }

  &--md {
    font-size: var(--font-size-5);
  }

  &--lg {
    font-size: var(--font-size-6);
  }

  &--700 {
    font-weight: 700;
  }

  &--500 {
    font-weight: 500;
  }

  &--center {
    text-align: center;
  }

  &--purple {
    color: var(--color-purplish-blue);
  }

  &--dark {
    color: var(--color-marine-blue);
  }
}

.text-error {
  font-size: var(--font-size-3);
  font-weight: 700;
  color: var(--color-strawberry-red);
  text-align: end;
  line-height: 1.5;
}
