@use '../abstracts/' as *;

.button {
  display: grid;
  place-items: center;
  background-color: transparent;
  font-size: var(--font-size-5);
  font-weight: 500;

  &-back,
  &-next,
  &-confirm,
  &-change {
    @extend .button;
  }

  &-back {
    height: min-content;
    padding-block: rem(6);
    color: var(--color-cool-gray);

    @include on-hover-focus(color) {
      color: var(--color-marine-blue);
    }
  }

  &-next,
  &-confirm {
    width: rem(98);
    height: rem(40);
    margin-inline-start: auto;
    color: var(--color-white);
    border-radius: rem(4);

    @include breakpoint(medium) {
      width: rem(108);
      height: rem(44);
      border-radius: rem(6);
    }

    @include breakpoint(large) {
      width: rem(122);
      height: rem(48);
      border-radius: rem(8);
    }
  }

  &-next {
    background-color: var(--color-marine-blue);

    @include on-hover-focus(filter) {
      filter: saturate(150%) opacity(90%);
    }
  }

  &-confirm {
    background-color: var(--color-purplish-blue);

    @include on-hover-focus(filter) {
      filter: opacity(80%);
    }
  }

  &-change {
    width: fit-content;
    color: var(--color-cool-gray);
    text-decoration: underline solid currentColor rem(2);

    @include on-hover-focus(color) {
      color: var(--color-purplish-blue);
    }
  }
}
