@use '../abstracts/' as *;

.plan {
  &__content {
    row-gap: rem(6);
  }

  .icon {
    --plan-icon-size: #{rem(40)};
    width: var(--plan-icon-size);
    height: var(--plan-icon-size);

    @include breakpoint(medium) {
      @include breakpoint-down(large) {
        --plan-icon-size: #{rem(44)};
      }
    }
  }

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(24);
    padding: rem(14);
    margin-block-start: rem(24);
    background-color: hsl(228, 100%, 84%, 0.1);
    border-radius: rem(8);

    @include breakpoint-down(xsmall) {
      column-gap: rem(16);
    }

    @include breakpoint(large) {
      margin-block-start: rem(32);
    }
  }
}

.toggle {
  &__custom {
    --toggle-width: #{rem(38)};
    --toggle-height: #{rem(20)};
    --toggle-padding: #{rem(4)};
    width: var(--toggle-width);
    height: var(--toggle-height);
    display: block;
    position: relative;
    padding: var(--toggle-padding);
    background-color: var(--color-marine-blue);
    border-radius: calc(var(--toggle-height) / 2);
    cursor: pointer;

    @include breakpoint(medium) {
      @include breakpoint-down(large) {
        --toggle-width: #{rem(42)};
        --toggle-height: #{rem(22)};
      }
    }

    &::before {
      --toogle-icon-size: calc(var(--toggle-height) - var(--toggle-padding) * 2);
      content: '';
      width: var(--toogle-icon-size);
      height: var(--toogle-icon-size);
      display: block;
      background-color: var(--color-white);
      border-radius: 50%;
      transition: transform var(--duration-2) ease;
    }
  }

  &__input:checked + &__custom::before {
    transform: translateX(calc(100% + var(--toggle-padding) + var(--toggle-padding) / 2));
  }
}
